In [62]:
#open the ein csv
ein_list=[42484464,201372435 ,630377461,831378576]

In [63]:
#import
import pandas as pd
#query

In [64]:
index_df=pd.read_csv("index_2022.csv",index_col=False)

In [65]:
index_df
#EIN 
#ObjectId = xml file

,RETURN_ID,EIN,TAX_PERIOD,SUB_DATE,TAXPAYER_NAME,RETURN_TYPE,DLN,OBJECT_ID
0,19675507,562243027,202106,3/2/2022 7:14:38 AM,CASA ESPERANZA MONTESSORI INC,990,93493040010262,202210409349301026
1,19675508,630377461,202108,3/2/2022 7:14:38 AM,SOUTHEASTERN CONFERENCE,990,93493040010312,202210409349301031
2,19675509,471779282,202106,3/2/2022 7:14:38 AM,CIRCLES OF SUPPORT AND ACCOUNTABILITY FRESNO INC,990,93493040010362,202210409349301036
3,19675510,201372435,202106,3/2/2022 7:14:38 AM,DELAWARE STATE UNIVERSITY FOUNDATION INC,990,93493040010412,202210409349301041
4,19675511,42484464,202108,3/2/2022 7:14:38 AM,CHILDRENS CENTER OF LEXINGTON INC,990,93493040010462,202210409349301046
...,...,...,...,...,...,...,...,...
118949,19583158,831378576,202108,1/31/2022 3:48:28 PM,CHAPARRAL WRESTLING CLUB,990,93493357009441,202143579349300944
118950,19678717,911212740,202106,3/2/2022 8:01:00 AM,WOODINVILLE MONTESSORI SCHOOL,990,93493047007002,202200479349300700
118951,19678718,510145188,202106,3/2/2022 8:01:00 AM,CARAMORE COMMUNITY,990,93493047007052,202200479349300705
118952,19678720,710876762,202103,3/2/2022 8:01:01 AM,GROVE PLACE PARTNERS GP INC,990,93493047007202,202200479349300720
118953,19678721,593575428,202106,3/2/2022 8:01:01 AM,CITRUS COUNTY HARVEST INC,990,93493047007252,202200479349300725

In [66]:
#use the ein to search the index for file
empty_df= pd.DataFrame()
results=[]
for element in ein_list:
    test_query=index_df.where(index_df['EIN'] == element)
    result=test_query.dropna()
    #if results
    empty_df=pd.concat([empty_df,result])

In [67]:
empty_df

,RETURN_ID,EIN,TAX_PERIOD,SUB_DATE,TAXPAYER_NAME,RETURN_TYPE,DLN,OBJECT_ID
4,19675511.0,42484464.0,202108.0,3/2/2022 7:14:38 AM,CHILDRENS CENTER OF LEXINGTON INC,990,9.349304e+13,2.022104e+17
3,19675510.0,201372435.0,202106.0,3/2/2022 7:14:38 AM,DELAWARE STATE UNIVERSITY FOUNDATION INC,990,9.349304e+13,2.022104e+17
1,19675508.0,630377461.0,202108.0,3/2/2022 7:14:38 AM,SOUTHEASTERN CONFERENCE,990,9.349304e+13,2.022104e+17
118949,19583158.0,831378576.0,202108.0,1/31/2022 3:48:28 PM,CHAPARRAL WRESTLING CLUB,990,9.349336e+13,2.021436e+17

In [70]:
xmllist=empty_df['OBJECT_ID'].drop_duplicates()

In [72]:
xmllist.to_list()

[2.0221040934930106e+17, 2.0221040934930102e+17, 2.0214357934930093e+17]

In [61]:
index_df.where(index_df['OBJECT_ID'] == empty_df['OBJECT_ID'][4]).dropna()

,RETURN_ID,EIN,TAX_PERIOD,SUB_DATE,TAXPAYER_NAME,RETURN_TYPE,DLN,OBJECT_ID
3,19675510.0,201372435.0,202106.0,3/2/2022 7:14:38 AM,DELAWARE STATE UNIVERSITY FOUNDATION INC,990,9.349304e+13,2.022104e+17
4,19675511.0,42484464.0,202108.0,3/2/2022 7:14:38 AM,CHILDRENS CENTER OF LEXINGTON INC,990,9.349304e+13,2.022104e+17